
.container {
  margin: 10px;
}


.board {
  background-image: url("images/space.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 638px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#fireball {
  position: relative;
  width: 400px;
  height: auto;
}

#asteroid {
  position: relative;
  width: 500px;
  height: 500px;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-fill-mode:forwards;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

